.none {
  border: none;
  margin: 10px;
}

.wait {
  border-style: solid;
  border-color: yellow;
  margin: 10px;
}

.ok {
  border-style: solid;
  border-color: yellowgreen;
  margin: 10px;
}

.error {
  border-style: solid;
  border-color: red;
  margin: 10px;
}